html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
  top: 0px;
  left: 0px;
  height: 100px;
  background: #333;
  width: 100%;
}

.logo {
	align-self: center;
	margin-left: 2em;
}

.logo img {
	height: 4em;
	width: auto;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

#main-content {
  display: flex;
}

img {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

#photos {
  position: relative;
  display: flex;
  
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
	display: block;
	margin: 30px 2em;
	width: 25%;
	font-size: 1.5em;
	padding: 10px 50px 10px 10px;
	background: url(../img/arrow_select.svg) no-repeat 95% center;
	background-size: 0.7em;
	align-self: center;
	color: #fff;
	border: none;
	background-color: #4d4d4d;
}

option {
  color: #fff;
  font-size: 0.7em;
}

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  flex: 1 1 400px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
	margin-bottom: -4px;
}

#overlay {
	display: flex;
	background: rgba(0,0,0, 0.85);
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	min-width: 600px;
	height: 450px;
	z-index: 1000;
}

.overlay-header {
	display: flex;
	background-color: rgba(0,0,0, 0.8);
	width: 100%;
	height: 70px;
}

.overlay-header img {
	margin: auto;
	width: 70%;
}

.info-header {
  padding-top: 1.2em;
  display: flex;
  flex-direction: column;
  
}

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
  padding-left: 15%;
  padding-right: 15%;
}

.weather-icon img {
  
}

.weather-description {
  align-self: center;
  width: 100%;
}

#city {
	align-self: center;
	color: #fff;
	font-size: 3em;
}

#country {
  align-self: center;
  padding-bottom: 6px;
  padding-left: 1em;
  color: #fff;
  font-size: 1.5em;
}

#country::before {
  content: '"';
}

#country::after {
  content: '"';
}

.description {
  color: #fff;
  font-size: 1.7em;
  text-align: right;
}

.temp {
  color: #fff;
  text-align: right;
  font-size: 1.5em;
  padding-top: 0.3em;
}

.temp::after {
  content: " \2103";
  font-size: 0.9em;
}

.wind-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.wind-direction {
  position: relative;
  display: block !important;
}

.wind-direction img{
  position: absolute;
  width: 13px;
  /*padding-right: 15px;
  padding-top: 10px;
  transform-origin: 50% 50%;*/
  top: 10px;
  right: 10px;
}

.wind {
  color: #fff;
  text-align: right;
  font-size: 1.5em;
  padding-top: 0.3em;
}

.wind::after {
  content: " ms";
  font-size: 0.9em;
}

#comingForecast {
  width: 100%;
  display: flex;
  padding-top: 1.5em;
}

#comingForecast ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#comingForecast li {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  text-align: center;
}

#comingForecast img {
  align-self: center;
  width: 30%;
  
}

#comingForecast li:first-child {
  display: none;
}

#comingForecast li h3 {
  font-size: 0.7em;
  margin-bottom: 0;
}

.forecast-temp {
  margin-top: 0.4em;
  font-size: 1.4em;
}

.forecast-temp::after {
  content: " \2103";
  font-size: 0.8em
}